.btn {
    font-size: 3rem;
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }
  .list .item {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 30rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
  }
  .list .count {
    font-size: 2rem;
  }
  .list .text {
    font-size: 1.3rem;
  }
  .list .actions {
    margin-left: auto;
  }
  .list .btn {
    font-size: 2rem;
  }